/* @import "tailwindcss" prefix(tw); */
@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
    --font-family-display: "Satoshi", "sans-serif";
    --breakpoint-4xl: 1920px;
    --color-*: initial;
    --color-neon-pink: oklch(71.7% 0.25 360);
    --color-neon-lime: oklch(91.5% 0.258 129);
    --color-neon-cyan: oklch(91.3% 0.139 195.8);
    --color-gray-50: #f8fafc;
    --color-gray-100: #f1f5f9;
    --color-gray-200: #e2e8f0;
    --color-green-800: #3f6212;
    --color-green-900: #365314;
    --color-green-950: #1a2e05;
    --color-flower-200: #0f8800;

    --color-primary: var(--color-brand);
    --color-background: var(--color-bg);
    --color-text: var(--color-tx);
}

/* 亮色模式 */
[data-theme="light"] {
    --color-brand: #1da1f2;
    --color-bg: #ffffff;
    --color-tx: #333333;
}

/* 深色模式 */
[data-theme="dark"] {
    --color-brand: #ff9800;
    --color-bg: #1a1a1a;
    --color-tx: #f5f5f5;
}

@layer utilities {
    .container {
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }
}

@utility container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em var(--color-green-950));
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em var(--color-green-950));
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
    background-color: var(--color-background);
    color: var(--color-tx);
}

.read-the-docs {
    color: var(--color-neon-pink);
}
